<!-- 
  Filme name: about.html.erb
  Description: HTML document responsible for gather and show all the information about the application and the 
  team 
-->
<!-- START THE FEATURETTES -->
<section id="entenda">
  <div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A nossa função</h2>
        <p class="lead">Gitting é uma ferramenta de acopanhamento e avaliação de projetos desenvolvidos com o auxilio do repositório remoto GitHub de uma forma organizada, centralizada e mais produtiva do que os métodos tradicionais.</p>

      </div>
      <div class="col-md-5">
        <img alt="" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">O nosso objetivo</h2>
        <p class="lead">Com o intuito de facilitar a avaliação do andamento de projetos desenvolvidos simultaneamente o Gitting é uma plataforma que permite agrupar repositórios de projetos relacionados, visualizar dados desses repositórios e compará-los
          graficamente quanto ao andamento do projeto e participação de seus colaboradores.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img alt="" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">As avaliações</h2>
        <p class="lead">Por meio do Gitting é possível também enviar feedback aos colaboradores dos projetos, facilitando a interação com as equipes que estejam sendo avaliadas.</p>
      </div>
      <div class="col-md-5">
        <img alt="" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
      </div>
    </div>
  </section>