<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Pagina Inicial</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
      <form class="form-horizontal">
      <fieldset>

      <!-- Form Name -->
      <legend>Fale conosco</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Nome</label>  
        <div class="col-md-4">
        <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">E-mail</label>  
        <div class="col-md-4">
        <input id="email" name="email" type="text" placeholder="email@email.com" class="form-control input-md">
          
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="message">Mensagem</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="message" name="message">Deixe aqui seu comentário, sugestão ou reclamação.</textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="send"></label>
        <div class="col-md-4">
          <button id="send" name="send" class="btn btn-success">Enviar</button>
        </div>
      </div>

      </fieldset>
      </form>
      <!-- FOOTER -->
      <footer>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
  </body>
</html>

