<a data-parent="#accordion" data-toggle="collapse" href="#collapseDescricao">Descrição
</a>
<table class="table">
  <tbody>
    <tr>
      <td class="strong">
<p>
  <%= @discipline.discipline_description%>
</p>
</td>
</tr>
  </tbody>
</table>

<a data-parent="#accordion" data-toggle="collapse" href="#collapsePessoa">Pessoas</a>

<table class="table">
  <tbody>
    <tr>
      <td class="strong">
        <b>
          <p>Criador:
          </b>
        <%= @owner.username%>
        </p>
 
        <b>
          <p>Participantes:
          </b>
        </p>
      
        <% @participants.each do |participant|%>
        <p><%= participant.username %>
        </p>

        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% if current_user.id != @owner.id && @discipline.is_registered? == true %>
<a class="btn btn-primary btn-sm" href="/disciplines/new" role="button">Inscreva-se</a>
<% end %>