<!--
  File name: application.html.erb
  Description: This file contains what will show independent the page to create a new discipline
-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="disciplines-layout">
    <h3>Crie uma nova disciplina</h3>

    <%= bootstrap_form_for @discipline do |f|%>
      <p>
        <%= f.text_field :discipline_name, width: "10px", label: "Nome",required: true %>
      </p>
      <p>
        <%= f.text_area :discipline_description, label: "Descrição" %>
      </p>

        <%= f.submit "Criar Drisciplina", class: "btn btn-primary" %>

    <%end%>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
  </body>
</html>
