<!--
  File name: application.html.erb
  Description: This file contains what will show independent the page to create a new discipline
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Pagina Inicial</title>
    <link href="assets/disciplines.css" rel="stylesheet">
  </head>
  <body>
    <h2>Crie uma nova disciplina</h2>
    <div class="disciplines-layout">
    <%= bootstrap_form_for @discipline do |f|%>
      <p>
        <%= f.text_field :discipline_name, label: "Nome",required: true %>
      </p>
      <p>
        <%= f.text_area :discipline_description, label: "Descrição" %>
      </p>

        <%= f.submit %> 

    <%end%>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
  </body>
</html>
    
