<!--
File name: show.html.erb
Description: This file contains what will show independent the page show a specific discipline.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Pagina Inicial</title>
  <!-- Bootstrap core CSS -->
  <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
</head>
<body>

  <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <%= @discipline.discipline_name%>
                    </a>
                </li>
                <%= render :partial => 'disciplines/details' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../../assets/stylesheets/bootstrap.min.js"></script>
</body>
</html>
