<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <link rel="icon" href="../../favicon.ico">
    <title>Pagina Inicial</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
          <h3 style="text-align:center"> <%= @discipline.discipline_name%> </h3>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-1">
        <h4> Descrição </h4>
      </div>
      <div class="col-sm-0 col-md-3">
        <p> <%= @discipline.discipline_description%> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-1">
        <h4> Criador </h4>
      </div>
      <div class="col-sm-2 col-md-2">
        <p><%= @user.username%></p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
  </body>
</html>
    
