language: ruby

script:
  - bundle exec rake db:migrate
  - bundle exec rake spec

rvm:
  - 2.2.3
notifications:
  email:
    recipients:
      - tamara-bt@hotmail.com
      - matheus.godinho@outlook.com
      - marcowilliamdf@gmail.com
      - ptralcantara@gmail.com
branches:
  only:

    - master
    
addons:
    code_climate:
        repo_token: 8fc7bc93aad5fb078036775349b9c1fc0529cec03f31f78aea819111824dfa47

notifications:
  slack: gitting:fscY5ZpcJeFI2lGe8ir45CyK
