<a data-parent="#accordion" data-toggle="collapse" href="#collapseDescricao">Descrição
</a>
<table class="table">
  <tbody>
    <tr>
      <td class="strong">
<p>
  <%= @group.project_description%>
</p>
</td>
</tr>
  </tbody>
</table>
<a data-parent="#accordion" data-toggle="collapse" href="#collapsePessoa">Colaboradores do Projeto / Commits</a>
<table class="table">
  <tbody>
    
      
        <% @collaborators.each do |collaborator|%>
        
          <tr>
            <td class="strong"><%= collaborator["login"] %></td>
              <td><%= collaborator["contributions"] %></td>
       </tr>
        <% end %>
    
  </tbody>
</table>