<!--
File name: show.html.erb
Description: This file contains what will show independent the page show a specific group in a discipline.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gitting: <%= @group.project_name%></title>
</head>
<body style = "paddin-top=-1%; color:gray;">
	<p> <%= @group.project_name%></p>
	<p> <%= @group.project_description%></p>
</body>
</html>