<div class="container">
<%= simple_form_for @users, :url => user_path, :html => { :multipart => true } do |form| %>
   <%= form.input :email , :label => "Email" %>
   <%= submit_tag "Confirmar",:name => nil, class:"btn btn-primary dropdown-toggle icon-white icon-user" %>


<% end %>
</div>
