<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
  </head>
    <div class="col-md-7">
        <h2 class="featurette-heading">A nossa função</h2>
       <a><%= link_to "Log in with Github", "/login"%> <a/>
       <a><%= link_to "Sign in with Github", "/auth/github"%></a>
          </div>
</html>