<!-- 
  Filme name: new.html.erb
  Description: 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/disciplines.css" rel="stylesheet">
  </head>
    <div class="login-layout">
        <h2 class="featurette-heading fa fa-github-alt fa-3x">Entre com o Github</h2>
       <p><%= link_to "  Login", "/auth/github",class: "btn btn-primary" %></p>
          </div>
</html>