<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>     


        <div class="col-md-7">
          <title>Sobre nós </title>
        
          <p class="lead">Gitting é uma ferramenta de acopanhamento de projetos desenvolvidos com o auxilio do repositório remoto GitHub.</p>
        
          <p class="lead">Com o intuito de facilitar a avaliação do andamento de projetos desenvolvidos simultaneamente o Gitting é uma plataforma que permite agrupar repositórios de projetos relacionados, visualizar dados desses repositórios e compará-los graficamente quanto ao andamento do projeto e participação de seus colaboradores.</p>
        
          <p class="lead">Por meio do Gitting é possível também enviar feedback aos colaboradores dos projetos, facilitando a interação com as equipes que estejam sendo avaliadas.</p>


        </div>
        
      
    
  </body>
</html>
