.login-layout{

	margin-top: 15%;
	text-align: center;
	margin-left:20%;
	margin-right: 20%;
	border-style: solid;

}


.disciplines-layout {

	margin-top: 3%;
	text-align: center;
	margin-left:20%;
	margin-right: 20%;
}

.disciplines-layout h3{

	padding-left: 1%;
}

.disciplines-layout p{

	padding-left: 2%;
}

.button-search-layout{

	float: 50%;
}

.container-discipline{
	margin-top: 2%;
}
