<!--
  File name: _navbar.html.erb
  Description: This file contains what will represent a simple element to be used in a view
-->
<head>
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if logged_in? %>
                    <a class="navbar-brand" href="/dashboard">Gitting</a>
                <% else %>
                    <a class="navbar-brand" href="/">Gitting</a>
                <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if current_page?('/') %>
                        <li>
                            <a class="page-scroll" href="#sobre">Sobre</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#imagens">Imagens</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#entenda" style="padding-right:50px;">Entenda a ferramenta</a>
                        </li>

                    <% else %>
                        <!-- Do nothing -->
                    <% end %>
                        <!-- Show different menu element with user is logged -->
                        <% if logged_in? %>
                            <li><a><%= current_user.username %></a></li>
                            <li><%= link_to  "Logout", controller: "sessions", action: "destroy" %></li>
                        <% else %>
                            <li><%= link_to "Contato", controller: "contacts", action: "new" %></li>
                            <li><%= link_to "Login", controller: "users", action: "new" %></li>
                        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
